/* @theme himmel */

@import "_marpx";


:root {

    /** ----------------------------------------------------------------------------------------------- */
    /** WARNING: The parameter (container-type: normal) was used to allow the numbering of figures      */
    /**          and tables. Be warned that it may produce side effects in browsers other than Chrome!  */
    /** ----------------------------------------------------------------------------------------------- */
    container-type: normal;
    counter-reset: figure_cnt table_cnt;

    --marpx-color-light-grey: #a6a6a6;
    --marpx-color-dark-grey: #000000;

    /*------------ Overall theme parameters --------------------------*/

    --marpx-theme-font-family:  Faustina, 'Fira Sans Light',sans-serif;
    --marpx-theme-captiontext-figure: "Fig. ";
    --marpx-theme-captiontext-table: "Table ";
    --marpx-theme-brandlogo: " - Created with Marp e MarpX.";
    
    --marpx-theme-color: #174be7;
    --marpx-theme-color-alt: #9aade2;
    --marpx-theme-color-alt: #4f628b;
    --marpx-theme-color-font: #191a1d;
    --marpx-theme-color-background: #dfe8ff;
    --marpx-theme-color-background: #ffffff;
    --marpx-theme-color-bold: #6462f1;


    --marpx-color-subtitle: #5d616d;
    --marpx-color-h1-bold: #ff3c00;
    --marpx-color-footnote-mark: #ff0000;
    --marpx-color-code: #e4e4e4;
    --marpx-color-highlight: #ffff00;

    /*------------ Parameters used in `REFERENCES` --------------------------*/

    --maprx-color-references-bold: #3e6ceb;
    --marpx-color-references-background: #eff4fa;
    --marpx-color-reference-header: #539dd3;

    /*------------ Parameters used in `QUOTE` --------------------------*/

    --marpx-color-quote-background: #ffffff;
    --marpx-color-quote-paragraph-background: #ffffff;
    --marpx-color-quote-strong: #6462f1;
    --marpx-font-quote: Faustina, Bookerly, Times, serif;

    --marpx-color-quote-dark-background: #9aade2;
    --marpx-color-quote-dark-paragraph-background: #9aade2;
    --marpx-color-quote-dark-strong: #f8f8f7;
    --marpx-font-quote-dark: Faustina, Bookerly, Times, serif;

    /*------------ Parameters used in `TABLE` --------------------------*/

    --marpx-color-table-header: rgb(28, 36, 43);
    --marpx-color-table-header-font: white;
    --marpx-color-table-border-top: rgb(97, 96, 96);
    --marpx-color-table-border-bottom: rgba(97, 97, 96, 0.315);
    --marpx-color-table-nth-child-color: #eef1f3;
    --marpx-color-table-hover-color: black;
    --marpx-color-table-hover-background-color: rgb(252, 216, 11);

}

section {
    
    line-height: 1.3em;
}